.card_container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-columns: 0;
  grid-template-rows: 7;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: 250px;
  height: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.17);
  transition: transform 600ms;
}
.card:hover {
  transform: scale(1.1);
}

.name {
  grid-area: 1 / 1 / 2 / 5;
  font-size: 1.7em;
}
.period {
  grid-area: 1 / 5 / 2 / 6;
}
.subheader {
  grid-area: 2 / 1 / 3 / 6;
}
.amount {
  grid-area: 3 / 1 / 4 / 6;
  font-size: 4em;
  text-align: center;
}
.units {
  grid-area: 4 / 1 / 5 / 6;
  text-align: center;
}
.comparison {
  grid-area: 5 / 1 / 6 / 6;
  text-align: center;
}
.period_selector {
  grid-area: 6 / 1 / 7 / 6;
  font-size: 20px;
  text-align: center;
}
