body {
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.router {
  padding: 10px;
}

.navBar {
  width: 100%;
  height: 40px;
  background-color: #b10f2e;
  padding: 10px;
}

.companyName a {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #143642;
}
